.end{
    &__subtitle{
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__word{
        align-items: center;
        display: flex;
        justify-content: center;
    }
}