@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto';
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 29px 30.15px;
  background-color: #fff;
}

.header .navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.header .navbar .nav__item {
  list-style: none;
}

.header .navbar .nav__link {
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: black;
}

.home {
  background: url(../images/home/fon1sec.png) center/cover no-repeat;
  height: 100vh;
  padding-top: 189px;
  padding-bottom: 270px;
}

.home__title {
  font-weight: normal;
  font-size: 43px;
  line-height: 46px;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}

.home__subtitle {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #fff;
  margin-bottom: 28px;
}

.home__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__btns {
  color: #fff;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pads {
  padding-top: 80px;
  margin-bottom: 130px;
}

.pads__title {
  font-weight: normal;
  font-size: 43px;
  line-height: 58px;
  text-align: center;
  color: #000000;
  margin-bottom: 23px;
}

.pads__describe {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #A0A0A0;
  margin-bottom: 26px;
}

.pads__describe2 {
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 81px;
}

.pads .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.pads .wrapper {
  position: relative;
}

.pads .wrapper:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  cursor: pointer;
}

.pads .img-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -10%;
  right: 38%;
}

.pads .img-text h3 {
  font-weight: normal;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
}

.pads .img-text p {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #000000;
}

.products__title {
  font-weight: normal;
  font-size: 33px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}

.products__subtitle {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #A0A0A0;
  margin-bottom: 52px;
}

.products .img {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 24px;
}

.products .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  margin-bottom: 95px;
}

.products .img-text {
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.7px;
  color: #A0A0A0;
  bottom: -10%;
  right: 38%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.office {
  background: url(../images/office/fon4sec.png) center/cover no-repeat;
  height: 100vh;
  padding-top: 174px;
  margin-bottom: 116px;
}

.office__title {
  font-weight: normal;
  font-size: 66px;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 14px;
}

.office__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.office__subtitle2 {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 530px;
}

.make__title {
  font-weight: normal;
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 23px;
}

.make__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #A0A0A0;
  margin-bottom: 23px;
}

.make .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 38px;
}

.work__title {
  font-weight: normal;
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 23px;
}

.work__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #A0A0A0;
  margin-bottom: 29px;
}

.work__images {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__kek {
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 124px;
}

.end__e {
  font-weight: normal;
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 44px;
}

.end__n {
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 250px;
}

.grey {
  background: url(../images/grey/grey.png) center/cover;
  padding: 150px 0 121px;
  margin-bottom: 39px;
}

.grey__title {
  font-weight: normal;
  font-size: 43px;
  line-height: 58px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 23px;
}

.grey__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #FFFFFF;
}

.grey__emblem {
  margin-bottom: 24px;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer__item {
  margin-bottom: 16px;
  margin-left: 50px;
  list-style: none;
  font-size: 22px;
  line-height: 24px;
  position: relative;
}

.footer__title {
  font-size: 22px;
  line-height: 24px;
  list-style: none;
  margin-bottom: 23px;
  margin-left: 35px;
  position: relative;
}

.footer__subtitle {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.8px;
  color: #A0A0A0;
  list-style: none;
  margin-left: 35px;
  position: relative;
}

.footer__line {
  top: 172px;
  left: -347px;
  width: 320px;
  height: 1px;
  background-color: #000;
  position: relative;
}

.footer__bt {
  width: 82px;
  height: 82px;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
}

.footer__go-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */